mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.column-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  background: rgba(0, 0, 0, 0.15);
}

#links-fixos {
  position: fixed;
  bottom: 30px;
  right: 20px;
}
